{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="breadcrumb-container">
    <div class="breadcrumb flat">
        <a href="{{path('home')}}" class="active">
            <img src="{{asset('img/home.svg')}}" alt="Accueil">
        </a>
    </div>
</div>
{% endblock %}
