<h1>Bonjour ! Merci de vérifier votre email</h1>

<p>
    Confirmez votre adresse email sur NingenShoppu en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
</p>

<p>
    Merci pour votre confiance !
</p>
