
@import 'tools/reset';
@import 'tools/mixins';
@import 'tools/typography';
@import 'tools/placement';
@import 'tools/animations';

@import 'modules/forms';

@import 'components/button';

@import 'pages/layout';
@import 'pages/home';
@import 'pages/product';
@import 'pages/cart';

:root {
  font-size: 28px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: $background;
  position: relative;
}