
@import 'tools/reset';
@import 'tools/mixins';
@import 'tools/typography';
@import 'pages/layout';

:root {
  font-size: 28px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: $background;
  position: relative;
}