$desktop-breakpoint: 1024px;

@import 'libs/bootstrap-pagination.scss';

@import 'tools/reset';
@import 'tools/animations';
@import 'tools/mixins';
@import 'tools/typography';
@import 'tools/placement';
@import 'tools/utils';

@import 'modules/forms';

@import 'components/button';
@import 'components/table';
@import 'components/switch';
@import 'components/purchase-list';
@import 'components/quantity-button';

@import 'pages/layout';
@import 'pages/home';
@import 'pages/product';
@import 'pages/categories';
@import 'pages/cart';
@import 'pages/user';
@import 'pages/delivery';
@import 'pages/labels';



* {
  box-sizing: border-box;
}

:root {
  font-size: 28px;
}

html {
  height: 100%;
}

a {
  text-decoration: none !important;
}

body {
  min-height: 100%;
  background: $background;
  position: relative;
  padding-bottom: 24rem; // Hauteur du footer : 23rem
}

@media only screen and (min-width: $desktop-breakpoint) {
  :root {
    font-size: 24px;
  }

  body {
    padding-bottom: 55rem;
  }
}

@media only screen and (min-width: 2000px) {
  body {
    padding-bottom: 68rem;
  }
}