<div class="advantages">
  <div id="section-container">
    <div class="section">
      <img src="{{ asset('img/truck.svg')}}" alt="Fast shipping">
      <p>Expédition rapide</p>
    </div>
    <div class="section">
      <img src="{{ asset('img/lock.svg')}}" alt="Secure payment">
      <p>Paiement sécurisé</p>
    </div>
    <div class="section">
      <img src="{{ asset('img/plant.svg')}}" alt="Responsible products">
      <p>Produits responsables</p>
    </div>
    <div class="section">
      <img src="{{ asset('img/faq.svg')}}" alt="Q'n'A">
      <p>Service client</p>
    </div>
  </div>
</div>