<div id="findus">

  <div id="address-container">
    <h2>Nous trouver</h2>

    <div class="address">
      <p>NingenShoppu</p>
      <p>14 avenue de l'inspiration</p>
      <p>10000 Epices-sur-Seine</p>
    </div>

    <img src="{{getAsset('map.jpg', 1356, 575)}}" alt="Location">
  </div>

  <div class="spacer"></div>
  
  <p class="copyright">© 2021 Ningen Shoppu</p>
</div>