<div id="joinus">
  <div id="joinus-container">
    <h2>Rejoignez-nous sur:</h2>
    <ul>
      <li>
        <a href="#">
          <img src="{{asset('img/instagram.svg')}}" alt="Follow us on Instagram">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{asset('img/facebook.svg')}}" alt="Follow us on Facebook">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{asset('img/youtube.svg')}}" alt="Follow us on Youtube">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{asset('img/snapchat.svg')}}" alt="Follow us on Snapchat">
        </a>
      </li>
    </ul>
  </div>
</div>