html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "AkayaTelivigala";
  font-display: swap;
  src: url("/fonts/AkayaTelivigala.ttf") format("truetype");
}
@font-face {
  font-family: "AbhayaLibre";
  font-display: swap;
  src: url("/fonts/AbhayaLibre.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Light";
  font-display: swap;
  src: url("/fonts/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Regular";
  font-display: swap;
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Bold";
  font-display: swap;
  src: url("/fonts/Nunito-Bold.ttf") format("truetype");
}
h1 {
  font-size: 1.625rem;
  font-family: "AkayaTelivigala", sans-serif;
}
h1:not(.head-title) {
  font-size: 2rem;
  font-family: "AbhayaLibre", sans-serif;
  text-align: center;
}

h1 {
  color: #0087a8;
}

.navbar {
  background-color: white;
  display: flex;
  height: 4rem;
  align-items: center;
  border-bottom: 1px solid #0087a8;
}
.navbar h1 {
  margin-left: 1rem;
  margin-right: 1rem;
  transform: translateY(-3px);
}
.navbar h1 a {
  color: #0087a8;
}
.navbar .menu-icon {
  transform: translateY(2px);
  cursor: pointer;
}
.navbar .user-icons {
  transform: translateY(2px);
  margin-left: auto;
  margin-right: 2rem;
}
.navbar .user-icons a:first-child {
  margin-right: 1rem;
}

.search-block {
  background-color: white;
  padding: 1rem 0;
}

.search-container {
  position: relative;
}

#searchbar-label {
  position: absolute;
  right: 0;
  transform: translate(-6rem, 3px);
  cursor: pointer;
}

#searchbar {
  width: 70%;
  display: block;
  margin: auto;
  padding-top: 3px;
  height: 1.6rem;
  border: 1px solid #ff7c5c;
  font-size: 1rem;
  font-family: "Nunito-Bold", sans-serif;
  text-indent: 1rem;
}

.breadcrumb-container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.breadcrumb {
  /*centering*/
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  height: 2.5rem;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 1rem;
  color: white;
  line-height: 2.5rem;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 5px 0 50px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}
.breadcrumb a:not(:first-child) {
  padding-right: 2rem;
}

.breadcrumb a img {
  transform: translateY(12px);
  z-index: 2;
  position: relative;
}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
  padding-left: 1rem;
  border-radius: 5px 0 0 5px;
  /*to match with the parent's radius*/
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover {
  background: #333;
  background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #f4f4f4;
  background: linear-gradient(135deg, #f4f4f4, #f4f4f4);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
  content: "";
  position: absolute;
  top: -7px;
  right: -1.2rem;
  /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 3rem;
  height: 3rem;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px #f4f4f4, 3px -3px 0 2px #f4f4f4;
  /*
  	5px - for rounded arrows and 
  	50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px;
}

/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none;
}

.flat a, .flat a:after {
  background: #0087a8;
  color: white;
  transition: all 0.5s;
}

.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after {
  background: #ff7c5c;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

#section-container {
  width: fit-content;
  margin: auto;
  display: flex;
}

.advantages {
  background-color: #00313d;
  height: 5rem;
  padding-top: 2rem;
  padding-bottom: 0.9rem;
}
.advantages section {
  position: relative;
}
.advantages img {
  text-align: center;
  position: relative;
  right: -25%;
}
.advantages p {
  font-family: "Nunito-Bold", sans-serif;
  color: white;
  max-width: 70%;
  text-align: center;
  padding-top: 0.5rem;
}

#joinus-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#joinus {
  background: #f4f4f4;
  padding: 2rem 0;
}
#joinus h2 {
  text-transform: uppercase;
  font-family: "Nunito-Bold", sans-serif;
  color: #4f4f4f;
  font-size: 1.5rem;
}
#joinus ul {
  width: 39%;
  display: flex;
  justify-content: space-evenly;
}

#address-container {
  padding-bottom: 4rem;
}

.spacer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#findus {
  padding: 0 1rem 0 1rem;
  background-color: #0087a8;
  position: relative;
}
#findus h2, #findus p:not(.copyright) {
  transform: translateY(100%);
}
#findus h2 {
  color: white;
  font-size: 1.9rem;
  font-family: "Nunito-Bold", sans-serif;
  margin-bottom: 1rem;
}
#findus p {
  color: white;
  font-family: "Nunito-Regular", sans-serif;
  font-size: 1.2rem;
}
#findus p:not(.copyright) {
  letter-spacing: 0.1rem;
}
#findus p.copyright {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
#findus img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-67%);
  width: 45%;
}

form div {
  width: 70%;
  margin: 2rem auto 0 auto;
  position: relative;
}

form label {
  display: block;
  padding-bottom: 0.5rem;
  color: #4f4f4f;
  font-family: "Nunito-Light", sans-serif;
}

input, select {
  width: 100%;
  display: block;
  padding-top: 3px;
  height: 1.6rem;
  border: 1px solid #ff7c5c;
  font-size: 1rem;
  font-family: "Nunito-Bold", sans-serif;
  text-indent: 1rem;
}

textarea {
  width: 100%;
  display: block;
  padding-top: 3px;
  height: 4.8rem;
  border: 1px solid #ff7c5c;
  font-size: 1rem;
  font-family: "Nunito-Bold", sans-serif;
  text-indent: 1rem;
}

form button {
  position: relative;
  margin-top: 1rem;
  left: 66%;
}

.btn {
  padding: 0.4rem 1.6rem;
  font-size: 1rem;
  font-family: "Nunito-Regular", sans-serif;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
}
.btn.secondary {
  background-color: #ff7c5c;
  color: white;
}
.btn.secondary:hover {
  background-color: #ff9075;
}

:root {
  font-size: 28px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #f4f4f4;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
