.resume {
  width: 70%;
  margin: 2rem auto;

  & .resume-list {
    text-align: center;
    margin-bottom: 3rem;
  }
}

.links-removal {
  display: block;
  text-align: center;
}

.links-removal ul li:first-of-type,
.links-removal ul li:last-of-type {
  display: none;
}

.delivery-infos {
  width: fit-content;
  margin: auto;
  transform: translateY(-55%);
  
  & p {
    text-align: center;
    color: $neutral;
    font-size: .7rem;
    text-transform: uppercase;
    margin-bottom: .2rem;
  }
}

#delivery-searchbar {
  width: 50%;
  margin: 0 auto 1rem auto;
  border-radius: 3px;
  font-family: $text-light;
}