@keyframes animate { 
  0% { 
      width: 0; 
  } 

  65% {
    width: 110%;
  }

  75% {
    width: 90%;
  }

  85% {
    width: 104%;
  }

  92% {
    width: 97%;
  }

  100% { 
      width: 100%; 
  } 
} 