@keyframes animate { 
  0% { 
      width: 0; 
  } 

  65% {
    width: 110%;
  }

  75% {
    width: 90%;
  }

  85% {
    width: 104%;
  }

  92% {
    width: 97%;
  }

  100% { 
      width: 100%; 
  } 
} 


@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}