.actions-list-container {
  width: 80%;
  margin: 2rem auto;
}

.action {
  position: relative;
  background-color: $action-bg;
  margin-bottom: 1px;
  padding: 1rem 3rem;
  transition: .1s;

  &:hover {
    background-color: $action-bg-hover;
  }

  & a {
    color: white;
    font-size: 2rem;
  }
  
}

@media only screen and (min-width: $desktop-breakpoint) {

  .action {
    padding: .5rem 1.5rem;

    & a {
      font-size: 1rem;
    }
  }

}