.btn {
  padding: .4rem 1.6rem;
  font-size: 1rem;
  font-family: $text;
  border-radius: 6px;
  border: none;
  transition: .3s;
  cursor: pointer;

  &.primary {
    background-color: $primary;
    color: white;
  }

  &.secondary {
    background-color: $secondary;
    color: white;

    &:hover {
      background-color: $secondary-hover;
    }
  }

  &.danger {
    background-color: $danger;
    color: white;
  }

  &.success {
    background-color: $success;
    color: white;

    &:hover {
      background-color: $success-hover;
    }
  }

  &.btn-primary-reverse {
    border: 1px solid $primary;
    background-color: white;
    color: $primary;
  }

  &.btn-danger-reverse {
    border: 1px solid $danger;
    background-color: white;
    color: $danger;
    display: block;
    width: fit-content;
    margin: auto;
  }
}

#to-register {
  display: block;
  width: fit-content;
  transform: translateY(-113%);
}