.cart-container {
  width: 90%;
  margin: auto;
}

.cart-item {
  display: flex;
  border-bottom: 1px solid $primary;
  padding: 1.5rem;

  & h2 {
    & a {
      color: $secondary;
    }
    font-family: $text-heavy;
    text-align: center;
    font-size: 1.5rem;
  }

  &__picture {
    height: 60%;
    width: 30%;
    object-fit: contain;
  }

  &__data {
    margin: 0 auto;
  }

  &__infos {
    display: flex;
    width: 117%;
    transform: translateY(53%);
    justify-content: space-between;
  }

  &__price {
    transform: translate(27%, -11%);
    font-size: 2rem;
  }

  &__input {
    text-indent: 0;
    margin: 0 1rem;
  }

  &__delete {
    margin-left: auto;
    transform: translate(70%, -7%);
  }
}

.cart-item__input::-webkit-inner-spin-button,
.cart-item__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.cart-item__quantity {
  border: 0;
  display: inline-flex;
  transform: translateY(-29%);

  &, & * {
    box-sizing: border-box;
  }

  & button {
    background-color: white;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    box-shadow: 0px 0px 1px #474747;
  }

  & button:before, & button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }

  & button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  & .cart-item__input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: auto !important;
    font-family: sans-serif;
    max-width: 4rem;
    padding: .5rem 0;
    border-width: 1px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
    color: $primary;
  }

  & input[type=number] {
    margin: 0;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .cart-container {
    width: 60%;
  }
  
  .cart-item {
    &__picture {
      width: initial;
      height: initial;
    }

    & h2 {
      font-size: 1rem;
    }

    &__price {
      font-size: .7rem;
    }

    & .cart-item__quantity {

      & button {
        max-width: 2rem;
        height: 2rem;

        &:before, &:after {
          width: .5rem;
        }
      }

      & p {
        font-size: 1rem;
      }
    }

    &__cross {
      width: 45%;
    }
  }

  .cart-total p {
    font-size: 1rem !important;
    width: 15rem !important;
  }
}