table {
  border: 2px solid $primary;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;

  & thead tr th {
    background-color: $primary;
    font-weight: bold;
    color: white;
    border-right: 2px solid white;
    border-left: 2px solid white;

    &:first-of-type {
      border-left: 2px solid $primary;
    }

    &:last-of-type {
      border-right: 2px solid $primary;
    }
  }

  & th {
    height: 2rem;
    border: 1px solid $primary;
    vertical-align: middle;

    & a {
      color: white;
      transition: .3s;

      &.asc, &.desc {
        color: $secondary;
      }

      &.asc::after {
        content: "▼";
      }

      &.desc::after {
        content: "▲";
      }

      &:hover {
        color: $secondary;
      }
    }
  }

  & .btn {
    padding: 0.2rem .8rem;
    font-size: .5rem;
    border-radius: 3px;

    &.delete-btn {
      padding: .3rem .8rem;
    }
  }

  & + .pagination {
    position: relative;
    right: -50%;
    transform: translateX(-50%);
  }
}


@media only screen and (min-width: $desktop-breakpoint) {

  table {
    width: 85%;
  }

  th {
    font-size: .7rem;
  }

}