#section-container {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.advantages {
  background-color: $primary-dark;
  height: 8rem;

  & section { position: relative; }

  & img {
    text-align: center;
    position: relative;
    right: -41%;
  }

  & p {
    font-family: $text-heavy;
    color: white;
    max-width: 70%;
    text-align: center;
    padding-top: .5rem;
    margin: auto;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {

  #section-container {
    width: initial;
    justify-content: space-evenly;
  }

  .advantages {
    height: 6rem;

    & img {
      width: 20px;
    }

    & p {
      font-size: 0.6em;
    }
  }

}
