#address-container {
  padding-bottom: 4rem;
}

.spacer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.address {
  max-width: 50%;
}

#findus {
  padding: 0 1rem 0 1rem;
  background-color: $primary;
  position: relative;

  h2, p:not(.copyright) {
    transform: translateY(100%);
  }

  h2 {
    color: white;
    font-size: 1.5rem;
    font-family: $text-heavy;
    margin-bottom: 1rem;
  }

  p {
    color: white;
    font-family: $text;
    font-size: .8rem;

    &:not(.copyright) {
      letter-spacing: .1rem;
    }

    &.copyright {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  img {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-67%);
    width: 45%;
  }
}