form div {
  width: 80%;
  margin: 2rem auto 0 auto;
  position: relative;
}

form label {
  display: block;
  padding-bottom: .5rem;
  color: $neutral;
  font-family: $text-light;
}

input, select {
  width: 100%;
  display: block;
  padding-top: 3px;
  height: 1.6rem;
  border: 1px solid $secondary;
  font-size: 1rem;
  font-family: $text-heavy;
  text-indent: 1rem;
}

input[type=number] {
  width: 8%;
}

textarea {
  width: 100%;
  display: block;
  padding-top: 3px;
  height: 4.8rem;
  border: 1px solid $secondary;
  font-size: 1rem;
  font-family: $text-heavy;
  text-indent: 1rem;
}

form img {
  max-width: 100%;
}

form button {
  position: relative;
  margin-top: 1rem;
  left: 66%;
}

.img-label {
  display: block;
  width: fit-content;
  cursor: pointer;
  color: $secondary;
  border: 1px solid $secondary;
  background-color: white;
  padding: .3rem 1rem;
  margin: auto;
  transition: .3s;
  transform: translateY(37%);
}

.img-label:hover {
  border: 1px solid $secondary-hover;
  color: $secondary-hover;
}

div[id^=product_product_images] > div {
  width: 100%;
}

.vich-image {
  width: 100%;
}

.vich-image input[type=file] {
  display: none;
}

.vich-image > div {
  display: flex;
  font-size: .8rem;

  & > input[type=checkbox] {
    height: .8rem;
  }
}

.error-container {
  transform: translateY(-50%);
}

.error-badge {
  display: inline-block;
  color: white;
  background-color: $danger;
  font-size: .6rem;
  font-family: $header;
  padding: .15rem .4rem;
  margin-right: .3rem;
  transform: translateY(-11%);
  border-radius: 26px 12%;
}

.form-error {
  display: block;
  color: $danger;
  font-size: .8rem;
  transform: translateY(5px);
}

.form-control {
  margin-bottom: 1rem;
}

#product_price {
  text-indent: 2rem;
}

.currency {
  position: absolute;
  transform: translate(2%, 100%);
  padding: .265rem .5rem;
  background: hsl(210,15.8%,92.5%);
  color: hsl(208.2,7.3%,45.7%);
}