#joinus-container {
  width: fit-content;
  margin: auto;
}

#joinus {
  background: $background;
  padding: 2rem 0;
  min-height: 6rem;
  
  & h2 {
    text-transform: uppercase;
    font-family: $text-heavy;
    color: $neutral;
    font-size: 1.5rem;
  }

  & ul {
    width: fit-content;
    margin: .5rem auto;
  }

  & ul li {
    display: inline;
    margin: 0 .5rem;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {

  #joinus {
    min-height: 5rem;
  }

  #joinus-container {

    & h2 {
      font-size: 1rem;
    }

    & img {
      width: 16px;
    }

  }

}