#joinus-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#joinus {
  background: $background;
  padding: 2rem 0;
  height: 6rem;
  
  & h2 {
    text-transform: uppercase;
    font-family: $text-heavy;
    color: $neutral;
    font-size: 1.5rem;
  }

  & ul {
    width: 39%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {

  #joinus {
    height: 5rem;
  }

  #joinus-container {
    justify-content: space-around;

    & h2 {
      font-size: 1rem;
    }

    & img {
      width: 70%;
    }

  }

}