.navbar {
  background-color: white;
  display: flex;
  height: 4rem;
  align-items: center;
  border-bottom: 1px solid $primary;

  & h1 {
    margin-left: 1rem;
    margin-right: 1rem;
    transform: translateY(-3px);

    a {
      color: $primary;
    }
  }

  & .menu-icon {
    transform: translateY(2px);
    cursor: pointer;
  }

  & .user-icons {
    transform: translateY(2px);
    margin-left: auto;
    margin-right: 2rem;

    & a:first-child {
      margin-right: 1rem;
    }
  }
}