.search-block {
  background-color: white;
  padding: 1rem 0;
}

.search-container {
  position: relative;
}

#searchbar-label {
  position: absolute;
  right: 0;
  transform: translate(-6rem, 3px);
  cursor: pointer;
}

#searchbar {
  width: 70%;
  display: block;
  margin: auto;
  padding-top: 3px;
  height: 1.6rem;
  border: 1px solid $secondary;
  font-size: 1rem;
  font-family: $text-heavy;
  text-indent: 1rem;
}

#search-results {
  position: relative;
  width: 70%;
  margin: auto;
  top: .2rem;

  .search-result {
    transition: .3s;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2;

    & a:hover {
      color: $secondary;
    }
  }
}


@media only screen and (min-width: $desktop-breakpoint) {

  #searchbar-label {
    position: absolute;
    right: 0;
    transform: translate(-7.5rem, 3px);

    & img {
      width: 68%;
    }
  }

  #search-results .search-result {
      font-size: .7rem;
      line-height: 1.3;
  }
}

@media only screen and (min-width: 1288px) {
  #searchbar-label {
    transform: translate(-8.5rem, 3px);
  }
}

@media only screen and (min-width: 1440px) {
  #searchbar-label {
    transform: translate(-10rem, 3px);
  }
}

@media only screen and (min-width: 1650px) {
  #searchbar-label {
    transform: translate(-11rem, 3px);
  }
}

@media only screen and (min-width: 1938px) {
  #searchbar-label {
    transform: translate(-12rem, 3px);
  }
}

@media only screen and (min-width: 2150px) {
  #searchbar-label {
    transform: translate(-14rem, 3px);
  }
}