<style>
  .background {
    width: 100%;
    background-color: #EEEEEE;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
  }
  .body {
    padding-top: 100px;
  }
  .footer {
    padding-bottom: 100px;
  }
  .body, .footer {
    width: 80%;
    margin:auto;
  }
  p {
    text-align: center;
    color: #4F4F4F;
  }
  .body p {
    font-size: 20px;
  }
  .email-box {
    width: 80%;
    margin: 30px auto;
    padding: 50px 30px;
    box-shadow: 0 0 12px -3px black;
  }
  .footer p {
    font-size: 16px;
  }
  .footer p a {
    color: #FF7C5C;
  }
</style>

<div class="background">
  <div class="container">
    <div class="body">
      <p>Un nouveau fil de discussion a été ouvert.</p>
      <p>Voici l'email qui vous a été envoyé :</p>

      <div class="email-box">
        <p>{{flushedEmail.content}}</p>
      </div>
    </div>
    
    <div class="footer">
      <p>Cet email a été transmis le {{flushedEmail.sentAt|date('d/m/Y')}}.</p>
      <p>Vous pouvez le retrouver et y répondre sur votre boîte de réception depuis le backoffice.</p>
    </div>
  </div>
</div>