<style>
  .background {
    width: 100%;
    background-color: #EEEEEE;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
  }
  .body {
    padding-top: 100px;
  }
  .footer {
    padding-bottom: 100px;
  }
  .body, .footer {
    width: 80%;
    margin:auto;
  }
  p {
    text-align: center;
    color: #4F4F4F;
  }
  .body p {
    font-size: 20px;
  }
  .footer p {
    font-size: 16px;
  }
  .footer p a {
    color: #FF7C5C;
  }
</style>

<div class="background">
  <div class="container">
    <div class="body">
      <p>Vous recevez cet email pour vous confirmer que votre mot de passe a correctement été modifié sur NingenShoppu.</p>
      <p>Nous vous remercions pour votre confiance, à bientôt pour de nouvelles découvertes !</p>
    </div>
    
    <div class="footer">
      <p>Pour rappel, ni les webmasters ni l'équipe de NingenShoppu ne vous demanderont votre mot de passe.</p>
      <p>S'il devait vous être demandé, cette demande serait nécessairement frauduleuse.</p>
      <p>Cet email automatique vous a été envoyé depuis le site <a href="#">ningenshoppu.com</a>. Merci de ne pas y répondre.</p>
    </div>
  </div>
</div>