<nav class="navbar admin">
    <h1 class="head-title">
        <a href="{{path('home')}}">
          NingenShoppu
          <span>
            admin
          </span>
        </a>
    </h1>
    <div class="menu-icon">
        <img src="{{asset('img/icons/admin-menu.svg')}}" alt="Menu">
    </div>
    <div class="user-icons">
        <a href="#">
            <img src="{{asset('img/icons/admin-user.svg')}}" alt="Mon compte">
        </a>
        <a href="#">
            <img src="{{asset('img/icons/admin.svg')}}" alt="Administration">
        </a>
    </div>
</nav>