<nav class="navbar">
    <h1 class="head-title">
        <a href="{{path('home')}}">NingenShoppu</a>
    </h1>
    <div class="menu-icon">
        <img src="{{asset('img/menu.svg')}}" alt="Menu">
    </div>
    <div class="user-icons">
        <a href="#">
            <img src="{{asset('img/user.svg')}}" alt="Mon compte">
        </a>
        <a href="#">
            <img src="{{asset('img/cart.svg')}}" alt="Panier">
        </a>
    </div>
</nav>