<div class="search-block">
  <div class="search-container">
    <label id="searchbar-label" for="searchbar">
      <img src="{{asset('img/icons/magnifier.svg')}}" alt="Recherchez !">
    </label>
    <input type="text" id="searchbar" name="searchbar" placeholder="Recherchez...">
  </div>
</div>